@import 'libs/vendor';
/* Custom scss added on top of starter */

// BASIC
.custom-page-section {
  text-align: left;
  width: 60%;
  max-width: 800px;
  margin: 2em auto;

  &:after {
    margin: 0 auto;
  }
}

.testimonials {
  h3 {
    text-align: center;
  }
  p {
  font-style: italic;
  }
}
// DJ NEVERS PAGE

.soundcloud-player iframe {
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px (rgba(0, 0, 0, .35));
  transition: all 200ms ease;

  &:hover {
    box-shadow: 0px 10px 30px -5px (rgba(0, 0, 0, .55));
  }
}

  .soundcloud-wrapper {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 2fr 2fr;
  }


  .youtube-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .youtube-video-wrapper {
    display: grid;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    &.no-margin-bottom {
        margin-bottom: 0px;
    }

    .youtube-iframe {
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // FOOTER
  #footer {
    ul {
      text-align: center;
      padding-left: 0;
    }
  }


  // MEDIA QUERIES
@media screen and (max-width: 980px) {

  .soundcloud-wrapper, .youtube-container {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 1fr;
      margin-bottom: 1em;
    }

  .soundcloud-player {
    margin-bottom: 1.5em;
  }

  .youtube-video-wrapper {
    margin-bottom: 1em;
  }

  header.major.custom-page-header, .custom-page-section {
    width: 90%;
    margin: 2em auto;

    .header-title {
      grid-template-columns: auto 1fr auto;
    }

    .icons {
      margin: .5em;
      padding: 0px;
      width: 50px;
    }
  }

  section.wrapper.style2.style2.contact .row {
      width: 90%;
  }

  .spotlight.right, .spotlight.left {
    background-image: none!important;

    .react-reveal.content {
      // @include vendor('transition', 'transform 3s ease, opacity 1s ease');
      // animation-duration: 500ms!important;
      animation: none!important;
      opacity: 1!important;
    }

  }

  .spotlight.inactive.bottom .content {
    transform: none;
}

}

@media screen and (max-width: 480px) {
  div.row.gtr-50 > * {
    padding: 0 0 0 0;
  }
}

// animation control on mobile
